* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    width: 80%;
    display: flex;
    margin: auto;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    color:#666
}

h2{
    font-size: 30px;
    font-weight: 300;
}

h3 {
    font-size: 22px;
    font-weight: 400;
}

p {
    color: #666;
    line-height: 34px;
    font-size: 18px;
}

.primary-color {
    color: #fb9a4d;
}

.btn {
    padding: 14px 20px;
    border-radius: 40px;
    background-image: linear-gradient(90deg, #fb9a4d 40%, #fe492e);
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.primary-white-space {
    margin-bottom: 30px;
    margin-top: 30px;
}

.flex-display {
    display: flex;
}

.half-width {
    width: 50%;
}

#header-contents {
    margin-top: 60px;
}

#header-img img{
    width: 100%;
}