* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    display: flex;
    margin: auto;
}

section {
    justify-content: space-around;
}

h1, h2, p {
    color:#666;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

h2{
    font-size: 40px;
    font-weight: 600;
}

h3 {
    font-size: 26px;
    font-weight: 800;
}

p {
    line-height: 34px;
    font-size: 18px;
}

.primary-color {
    color: #fb9a4d;
}

.btn {
    padding: 14px 20px;
    border-radius: 40px;
    background-image: linear-gradient(90deg, #fb9a4d 40%, #fe492e);
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.primary-white-space {
    margin-bottom: 30px;
    margin-top: 30px;
}

.flex-display {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
}

#header-contents {
    margin-top: 60px;
}

#header-img img{
    width: 100%;
}

/* Header Part END here... */

#about-part {
    background-image: url(images/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#about-content {
    margin-top: 100px;
    margin-bottom: 200px;
}

#about-content p {
    margin-top: 40px;
    margin-bottom: 40px;
}

#about-img img{
    width: 90%;
}

/* About Part END here... */

#recipies-part {
    text-align: center;
    margin-bottom: 100px;
}

.recipie-description {
    width: 60%;
    margin: 40px auto;
}

#recipie-posts {
    width: 90%;
    display: flex;
    margin: auto;
}

.single-post {
    width: 30%;
    border-radius: 20px;
    box-shadow: 0 0 20px #ccc;
    padding: 20px;
    text-align: left;
    margin: auto 20px;
}

.single-post img {
    width: 100%;
}

.single-post h3 {
    margin-top: 20px;
}

.single-post p {
    color: #212324;
    line-height: 28px;
}

/* Recipie Part END here... */
